<link rel="apple-touch-icon" sizes="180x180" href="{{ '/en/assets/img/favicons/apple-touch-icon.png?v=1.0.0' | prepend: site.baseurl_root }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/en/assets/img/favicons/favicon-32x32.png?v=1.0.0' | prepend: site.baseurl_root }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/en/assets/img/favicons/favicon-16x16.png?v=1.0.0' | prepend: site.baseurl_root }}">
<link rel="manifest" href="{{ '/en/assets/img/favicons/site.webmanifest?v=1.0.0' | prepend: site.baseurl_root }}">
<link rel="mask-icon" href="{{ '/en/assets/img/favicons/safari-pinned-tab.svg?v=1.0.0' | prepend: site.baseurl_root }}" color="#5bbad5">
<link rel="shortcut icon" href="{{ '/en/assets/img/favicons/favicon.ico?v=1.0.0' | prepend: site.baseurl_root }}">
<meta name="apple-mobile-web-app-title" content="{{ site.title }}">
<meta name="application-name" content="{{ site.title }}">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="{{ '/en/assets/img/favicons/mstile-144x144.png?v=1.0.0' | prepend: site.baseurl_root }}">
<meta name="msapplication-config" content="{{ '/en/assets/img/favicons/browserconfig.xml?v=1.0.0' | prepend: site.baseurl_root }}">
<meta name="theme-color" content="#ffffff">
