<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  {% if page.robots %}
  <meta name="robots" content="{{ page.robots }}">
  {% endif %}

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html }}{% else %}{{ site.description }}{% endif %}">
  <meta name="author" content="{{ site.author.name }}">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html }}{% else %}{{ site.description }}{% endif %}">
  {% if site.author.twitter_username %}
  <meta name="twitter:creator" content="{{ site.author.twitter_username }}">
  {% endif %}
  <meta name="twitter:image" content="{{ '/assets/img/favicons/favicon-194x194.png' | prepend: site.baseurl_root }}" />

  <meta property="og:type" content="article">
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:image" content="{{ '/assets/img/favicons/favicon-96x96.png' | prepend: site.baseurl_root }}" />

  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/img/favicons//apple-touch-icon.png?v=1.0.0' | prepend: site.baseurl_root }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/img/favicons/favicon-32x32.png?v=1.0.0' | prepend: site.baseurl_root }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/img/favicons/favicon-16x16.png?v=1.0.0' | prepend: site.baseurl_root }}">
  <link rel="manifest" href="{{ '/assets/img/favicons/site.webmanifest?v=1.0.0' | prepend: site.baseurl_root }}">
  <link rel="mask-icon" href="{{ '/assets/img/favicons/safari-pinned-tab.svg?v=1.0.0' | prepend: site.baseurl_root }}" color="#5bbad5">
  <link rel="shortcut icon" href="{{ '/assets/img/favicons/favicon.ico?v=1.0.0' | prepend: site.baseurl_root }}">
  <meta name="apple-mobile-web-app-title" content="{{ site.title }}">
  <meta name="application-name" content="{{ site.title }}">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="{{ '/assets/img/favicons/mstile-144x144.png?v=1.0.0' | prepend: site.baseurl_root }}">
  <meta name="msapplication-config" content="{{ '/assets/img/favicons/browserconfig.xml?v=1.0.0' | prepend: site.baseurl_root }}">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="{{ '/assets/css/main.css' | prepend: site.baseurl_root }}?{{ site.time | date: '%s%N' }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | prepend: site.baseurl_root }}">

  {% if site.google_analytics %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ site.google_analytics }}');
    </script>
  {% endif %}

</head>
