<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    {% include timeline.html %}

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="{{ '/en/assets/js/main.js' | prepend: site.baseurl_root }}/main.js?{{site.time | date: '%s%N'}}"></script>
    <script type="text/javascript" src="{{ '/en/assets/js/timeline.js' | prepend: site.baseurl_root }}/main.js?{{site.time | date: '%s%N'}}"></script>
  </body>
</html>
